body .editor-user-css {
  width: 300px;
  height: 30vh;
  color: #fff000;
  background: #ff0000;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 10%;
  right: 0;
  transition: width .3s cubic-bezier(0.075, 0.82, 0.165, 1), 
  height .3s cubic-bezier(0.075, 0.82, 0.165, 1),
  left .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 5px 5px rgba(0,0,0,0.15);
  border-bottom: 1px solid #000fff;
  border-top-left-radius: 10px;
  background: url(https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg);
  &:hover {
    background: url(https://gw.alipayobjects.com/zos/rmsportal/bNwFoZfLOnOEnjSxfZBk.jpg);
  }
}
.box {
  position: relative;
  top: 20px;
  text-align: left;
}

.a, .c .a{
  &:hover {
    font-size: 15px
  }
}

.a{
  &:hover {
    color: #fff;
    
  }
}
@media screen and (max-width: 767px) {
  body .editor-user-css {
    background: #333;
  }
}